#
# Copyright (C) 2016, 2018, 2019 GlobalLogic
#

on early-fs
    insmod lib/modules/extcon-core.ko
    insmod lib/modules/extcon-usb-gpio.ko
    insmod lib/modules/phy-rcar-gen3-usb2.ko
    insmod lib/modules/usbcore.ko
    insmod lib/modules/renesas_usbhs.ko

    mkdir -p /config

    setprop sys.usb.controller "e6590000.usb"
    setprop sys.usb.ffs.ready 0
    setprop sys.usb.configfs 1

on post-fs
    mkdir /mnt/tee 0700 root root
    start tee_supplicant

service tee_supplicant /sbin/tee-supp_recovery
    class main
    user root
    group root
    seclabel u:r:tee_recovery:s0
