#
# Copyright (C) 2016, 2018, 2019 GlobalLogic
#

on early-fs
    mkdir -p /config

    setprop sys.usb.controller "e6590000.usb"
    setprop sys.usb.ffs.ready 0
    setprop sys.usb.configfs 1

on post-fs
    mkdir /mnt/tee 0700 root root
    start tee_supplicant

service tee_supplicant /bin/tee-supp_recovery
    user root
    group root
    seclabel u:r:tee_recovery:s0
    stdio_to_kmsg
